.bonus {
    background: url('../images/bonus-bg.jpg') center;
    background-size: cover;
    width: 100vw;
    min-height: 790px;

    .bonus__container {
        justify-content: center;
        align-items: center;
        padding: 100px 15px;

        @include horizon() {
            padding: 20px 10px;
        }
    }

    .bonus__title {
        font-size: 45px;
        color: #ffffff;
    }

    .bonus__list {
        display: flex;
        justify-content: space-around;
        color: #ffffff;
        width: 100%;
        margin-bottom: 85px;

        @include horizon() {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }

        .bonus__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 25%;

            @include horizon() {
                width: 80%;
                margin-bottom: 20px;
            }
        }

        .item__title {
                text-align: center;
                text-transform: uppercase;
        }

        .item__text {
            text-align: center;

            .text__color {
                color: #d60306;
            }
        }
    }

    .bonus__text {
        color: #ffffff;
        margin-bottom: 50px;

        @include horizon() {
            padding-right: 10px;
        }

        .text__color {
            color: #d60306;
            margin-right: 5px;
        }
    }

    .bonus__btn {
        width: 292px;
        height: 60px;
        border-radius: 10px;
        background-color: #1b539a;
        color: white;
        font-size: 20px;
        border: none;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background: lighten(#1b539a, 5%);
        }
    }
}