.callback {

    .callback__container {
        flex-direction: row;
        padding: 100px 0;
        align-items: center;
        justify-content: space-around;

        @include tablets() {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px 0 0 0;
        }
    }

    .callback__content {
        width: 45%;

        @include tablets() {
            margin-bottom: 40px;
            width: 80%;
        }

        .content__title {
            color: #1e4982;
            font-size: 35px;
            margin-bottom: 45px;

            @include tablets() {
                text-align: center;
            }

            .title__red {
                color: #ca2643;
            }
        }

        .content__timer {
            width: 100%;

            .timer__img {
                width: 100%;
            }
        }
    }

    .callback__form {
        display: flex;
        flex-direction: column;
        width: 423px;
        height: 405px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        background-color: #1e4982;
        padding: 50px;

        @include phones() {
            width: 100%;
        }

        .form__complete {
            color: green;
            display: none;
    
            &--active {
                display: inherit;
            }
        }

        .form__text {
            color: #ffffff;
            margin-bottom: 35px;
        }

        .form__inp {
            margin-bottom: 20px;
            height: 10px;
            border: none;
            padding: 20px;
            border-radius: 5px;
            color: white;
            background-color: #0b3c6d;
        }

        .form__btn {
            height: 60px;
            border-radius: 10px;
            border: none;
            color: white;
            font-size: 20px;
            cursor: pointer;
            background-color: #1b539a;
            transition: .3s;

            &:hover {
                background: lighten(#1b539a, 5%);
            }
        }
    }
}