.hero {
    background: url('../images/hero-bg.jpg') center;
    background-size: cover;
    width: 100vw;
    max-height: 790px;

    .hero__container {
        padding-top: 60px;
        align-items: center;
        height: 100%;
        justify-content: center;

        @include horizon {
            padding-top: 200px;
            padding-bottom: 30px;
        }
    }

    .hero__title {
        font-size: 70px;
        color: #ffffff;
        max-width: 615px;
        text-align: center;
        margin: 0 0 40px 0;

        @include phones() {
            font-size: 35px;
        }
    }

    .hero__list {
        display: flex;
        list-style: none;
        color: white;
        margin-bottom: 70px;

        @include phones() {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        .hero__item {
            margin-right: 40px;
            text-transform: uppercase;

            @include phones() {
                margin-bottom: 20px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .hero__btn {
        width: 406px;
        height: 60px;
        border-radius: 10px;
        background-color: #1b539a;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 20px;
        transition: .3s;

        @include phones() {
            width: 100%;
        }

        &:hover {
            background: lighten(#1b539a, 5%);
        }
    }
}