.why {
    background-color: #f6f6f6;

    .why__container {
        justify-content: center;
        align-items: center;
        padding: 100px 15px;
    }

    .why__title {
        font-size: 45px;
        color: #0b3c6d;
        margin-bottom: 80px;

        @include phones() {
            text-align: center;
        }
    }

    .why__list {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: space-around;
        width: 100%;
        color: #1e4982;

        @include horizon() {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .why__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;

        @include horizon() {
            width: 80%;
            margin-bottom: 20px;
        }
        
        .item__img {
            width: 132px;

            .img__img {
                width: 100%;
            }
        }

        .item__title {
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        .item__text {
            text-align: center;
        }
    }
}