<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reactive Promotion</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <header class="header">
        <div class="container header__container">
            <button class="header__burger">
                <div class="burger__line"></div>
                <div class="burger__line"></div>
                <div class="burger__line"></div>
            </button>
            <div class="header__logo">
                <img src="./assets/images/logo.png" alt="logo" class="logo__img">
            </div>
            <ul class="header__list">
                <li class="header__item">
                    <a href="#who" class="item__link">Кто мы</a>
                </li>
                <li class="header__item">
                    <a href="#why" class="item__link">Преимущества</a>
                </li>
                <li class="header__item">
                    <a href="#bonus" class="item__link">Бонусы</a>
                </li>
                <li class="header__item">
                    <a href="#contacts" class="item__link">Контакты</a>
                </li>
            </ul>
            <div class="header__contacts">
                <a href="tel:+79511297103" class="contacts__phone">+7 (951) 129-71-03</a>
                <a href="mailto:info@reactive-promotion.ru" class="contacts__mail">info@reactive-promotion.ru</a>
            </div>
        </div>
        <div class="header__wrap"></div>
    </header>
    <section class="section hero">
        <div class="container hero__container">
            <h1 class="hero__title">Студия честного продвижения</h1>
            <ul class="hero__list">
                <li class="hero__item">&#10004; Быстро</li>
                <li class="hero__item">&#10004; Понятно</li>
                <li class="hero__item">&#10004; Эффективно</li>
            </ul>
            <button class="hero__btn">Записаться на консультацию</button>
        </div>
    </section>
    <section class="section who" id="who">
        <div class="container who__container">
            <h1 class="who__title">Кто мы</h1>
            <p class="who__text">"Reactive Promotion" – это студия ЧЕСТНОГО продвижения компаний, сайтов, товаров, медийных
                лиц и т.д.</p>
            <div class="who__list">
                <div class="list__left">
                    <p>
                        <span class="list__color">&#10004;</span> Cоздаем и дорабатываем сайты любой сложности</p>
                    <p>
                        <span class="list__color">&#10004;</span> Продвигаем сайты в поисковых системах Яндекс и Google</p>
                    <p>
                        <span class="list__color">&#10004;</span> Ведем и продвигаем в социальных сетях</p>
                </div>
                <div class="list__right">
                    <p>
                        <span class="list__color">&#10004;</span> Определяем цели вашей компании и помогаем достичь их</p>
                    <p>
                        <span class="list__color">&#10004;</span> Над вашей задачей будет работать от 3 до 10 экспертов единовременно
                        (каждый в своей области)
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section why" id="why">
        <div class="container why__container">
            <h1 class="why__title">Почему выбирают нас</h1>
            <ul class="why__list">
                <li class="why__item">
                    <div class="item__img">
                        <img src="./assets/images/why.png" alt="#" class="img__img">
                    </div>
                    <h3 class="item__title">Быстро</h3>
                    <p class="item__text">Начинаем работать оперативно, т.к. каждая минута на счету! Промедление и Ваш клиент
                        уйдет к конкуренту.</p>
                </li>
                <li class="why__item">
                    <div class="item__img">
                        <img src="./assets/images/why.png" alt="#" class="img__img">
                    </div>
                    <h3 class="item__title">Понятно</h3>
                    <p class="item__text">Честно, прозрачно и «на пальцах» объясняем, как, каким образом и за счет чего будет
                        происходить продвижение</p>
                </li>
                <li class="why__item">
                    <div class="item__img">
                        <img src="./assets/images/why.png" alt="#" class="img__img">
                    </div>
                    <h3 class="item__title">Эффективно</h3>
                    <p class="item__text">Оптимизируем ваши затраты на продвижение благодаря эффективным инструментам, анализу
                        и аудиту.</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="section bonus" id="bonus">
        <div class="container bonus__container">
            <h1 class="bonus__title">Бонусы</h1>
            <ul class="bonus__list">
                <li class="bonus__item">
                    <div class="item__img">
                        <img src="./assets/images/bonus.png" alt="#" class="img__img">
                    </div>
                    <h3 class="item__title">Доработки сайта</h3>
                    <p class="item__text">Если сайт «не способен» продавать и на него нет смысла вести новых клиентов, то
                        мы доработаем его бесплатно.<span class="text__color">*</span></p>
                </li>
                <li class="bonus__item">
                    <div class="item__img">
                        <img src="./assets/images/bonus.png" alt="#" class="img__img">
                    </div>
                    <h3 class="item__title">Банально, но скидки!</h3>
                    <p class="item__text">Скидки на продвижение до 25% и это не предел! Даже можем сделать новый сайт бесплатно!
                        Да, любой!<span class="text__color">*</span></p>
                </li>
                <li class="bonus__item">
                    <div class="item__img">
                        <img src="./assets/images/bonus.png" alt="#" class="img__img">
                    </div>
                    <h3 class="item__title">Поддержка клиента</h3>
                    <p class="item__text">Бесплатно проводим аудит, анализ конкурентов, а также обучаем вас тонкостям и нюансам
                        продвижения</p>
                </li>
            </ul>
            <p class="bonus__text"><span class="text__color">*</span> Предложение ограничено. Подробнее по телефону +7-951-129-71-03</p>
            <button class="bonus__btn">Получить бонусы</button>
        </div>
    </section>
    <section class="section callback">
        <div class="container callback__container">
            <div class="callback__content">
                <h2 class="content__title">
                    <span class="title__red">Бесплатно</span> сделаем вам новый сайт, или доработаем старый</h2>
                <div class="content__timer">
                    <img src="./assets/images/timer.png" alt="timer" class="timer__img">
                </div>
            </div>
            <form class="callback__form" id="callback-form">
                <p class="form__text">Укажите свои данные, чтобы мы могли связяться с вами</p>
                <input type="text" class="form__inp" name="name" placeholder="Имя" required>
                <input type="text" class="form__inp" name="phone" placeholder="Телефон" required>
                <button type="submit" class="form__btn">Оставить заявку</button>
                <p class="form__complete">Данные были получены, скоро с вами свяжутся</p>
            </form>
        </div>
    </section>
    <footer class="footer" id="contacts">
        <div class="container footer__container">
            <h1 class="footer__title">Контакты</h1>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#" class="item__link">
                        <img src="./assets/images/mail.png" alt="#" class="item__logo">
                        <p class="footer__text">Почта:
                            <span class="text__bold">info@reactive-promotion.ru</span>
                        </p>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="item__link">
                        <img src="./assets/images/phone.png" alt="#" class="item__logo">
                        <p class="footer__text">Телефон:
                            <span class="text__bold">+7-951-129-71-03</span>
                        </p>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="item__link">
                        <img src="./assets/images/vk.png" alt="#" class="item__logo">
                        <p class="footer__text">Группа:
                            <span class="text__bold">vk.com/reactivepromotion</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <div class="menu">
        <button class="menu__exit">&times;</button>
        <ul class="menu__list">
            <li class="menu__item">
                <a href="#who" class="item__link">Кто мы</a>
            </li>
            <li class="menu__item">
                <a href="#why" class="item__link">Преимущества</a>
            </li>
            <li class="menu__item">
                <a href="#bonus" class="item__link">Бонусы</a>
            </li>
            <li class="menu__item">
                <a href="#contacts" class="item__link">Контакты</a>
            </li>
        </ul>
    </div>
    <div class="modal__card">
        <h1 class="modal__title">Записаться на консультацию</h1>
        <form class="modal__form" id="#popup-form">
            <input type="text" name="name" class="form__inp" placeholder="Ваше имя" required>
            <input type="text" name="phone" class="form__inp" placeholder="Телефон" required>
            <input type="text" name="email" class="form__inp" placeholder="Email" required>
            <button class="form__btn">Записаться на консультацию</button>
            <p class="form__complete">Данные были получены, скоро с вами свяжутся</p>
        </form>
        <button class="modal__exit">&times;</button>
    </div>
    <div class="modal__card-bonus">
        <h1 class="modal__title">Получить бонусы</h1>
        <form class="modal__form" id="#popup-form">
            <input type="text" name="name" class="form__inp" placeholder="Ваше имя" required>
            <input type="text" name="phone" class="form__inp" placeholder="Телефон" required>
            <input type="text" name="email" class="form__inp" placeholder="Email" required>
            <button class="form__btn">Получить бонусы</button>
            <p class="form__complete">Данные были получены, скоро с вами свяжутся</p>
        </form>
        <button class="modal__exit">&times;</button>
    </div>
    <div class="bg__modal"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>