<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reactive Promotion</title>
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <header class="header">
        <div class="container header__container">
            <div class="header__logo">
                <img src="#" alt="logo" class="logo__img">
            </div>
            <ul class="header__list">
                <li class="header__item">
                    <a href="#" class="item__link">Кто мы</a>
                </li>
                <li class="header__item">
                    <a href="#" class="item__link">Преимущества</a>
                </li>
                <li class="header__item">
                    <a href="#" class="item__link">Бонусы</a>
                </li>
                <li class="header__item">
                    <a href="#" class="item__link">Контакты</a>
                </li>
            </ul>
            <div class="header__contacts">
                <p class="contacts__phone">+7 (951) 129-71-03</p>
                <p class="contacts__mail">info@reactive-promotion.ru</p>
            </div>
        </div>
    </header>
    <section class="section hero">
        <div class="container hero__container">
            <h1 class="hero__title">Студия честного продвижения</h1>
            <ul class="hero__list">
                <li class="hero__item">Быстро</li>
                <li class="hero__item">Понятно</li>
                <li class="hero__item">Эффективно</li>
            </ul>
            <button class="hero__btn">Записаться на консультацию</button>
        </div>
    </section>
    <section class="section who">
        <h1 class="who__title">Кто мы</h1>
        <p class="who__text">"Reactive Promotion" – это студия ЧЕСТНОГО продвижения компаний, сайтов, товаров, медийных лиц и т.д.</p>
        <ul class="who__list">
            <li class="who__item">Cоздаем и дорабатываем сайты любой сложности</li>
            <li class="who__item">Определяем цели вашей компании и помогаем достичь их</li>
            <li class="who__item">Продвигаем сайты в поисковых системах Яндекс и Google</li>
            <li class="who__item">Над вашей задачей будет работать от 3 до 10 экспертов единовременно (каждый в своей области)</li>
            <li class="who__item">Ведем и продвигаем в социальных сетях</li>
        </ul>
    </section>
    <section class="section why">
        <h1 class="why title">Почему выбирают нас</h1>
        <ul class="why__list">
            <li class="why__item">
                <div class="item__img">
                    <img src="#" alt="#" class="img__img">
                </div>
                <h3 class="item__title">Быстро</h3>
                <p class="item__text">Начинаем работать оперативно, т.к. каждая минута на счету! Промедление и Ваш клиент уйдет к конкуренту.</p>
            </li>
            <li class="why__item">
                <div class="item__img">
                    <img src="#" alt="#" class="img__img">
                </div>
                <h3 class="item__title">Понятно</h3>
                <p class="item__text">Честно, прозрачно и «на пальцах» объясняем, как, каким образом и за счет чего будет происходить продвижение</p>
            </li>
            <li class="why__item">
                <div class="item__img">
                    <img src="#" alt="#" class="img__img">
                </div>
                <h3 class="item__title">Эффективно</h3>
                <p class="item__text">Оптимизируем ваши затраты на продвижение благодаря эффективным инструментам, анализу и аудиту.</p>
            </li>
        </ul>
    </section>
</body>

</html>